/* the window of life */
.container .title_the { width:1200px; height:47px; margin-bottom:10px;}
.container .title_the h3 { float:left; line-height:47px; color:#666; float:left; font-family:Impact; font-size:26px; font-weight:400;}
.container .title_the a { float:left; padding:10px 0 0 40px; line-height:30px; font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; color:#666; font-size:14px;}
.container .content_the { width:1200px; overflow:hidden;}
.container .content_the .img_the, .container .content_the .img_the img { width:291px; height:186px;}
.container .content_the .img_the { float:left; margin-bottom:10px; margin-right:9px; border:#e8e8e7 1px solid;}
.container .content_the .img_the:hover { border:#ff4400 1px solid;}
.container .content_the div { position:relative;}
.container .content_the div .ceng_the { width:120px; height:186px; background:rgba(255,255,255,0.8); position:absolute; left:0; top:0; overflow:hidden;}
.container .content_the div .ceng_the .tit_the { width:87px; line-height:32px; margin:25px 0 0 15px; font-size:18px; font-weight:600; color:#000000}
/* nav */
.container ul.subnav { padding-left:5px; width:1195px; height:66px; background:#f8fafd; border-top:#134359 2px solid;}
.container ul.subnav li { float:left; padding:0 29px 0 20px; line-height:66px;}
.container ul.subnav li a { float:left; font-family:Impact; font-size:22px; font-weight:400;}
.container ul.subnav li:hover { background:#666;}
.container ul.subnav li:hover a { color:#fff;}

/* content */
.container .content { width:1200px; overflow:hidden;}
/*menu_left*/
.container .content .menu_left { float:left; width:960px; overflow:hidden;}
.container .content .menu_left .content_produ { width:960px; overflow:hidden;}
.container .content .menu_left .content_produ .title_produc { margin-top:24px; width:960px; height:36px;}
.container .content .menu_left .content_produ .title_produc h3 { float:left; padding:3px 25px 0 20px; line-height:31px; color:#fffffb; font-family:Arial; font-size:20px; font-weight:100;}
.container .content .menu_left .content_produ .title_produc a { float:left; padding-top:10px; height:21px; color:#fffffb; font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; font-size:20px; font-weight:700;}
.container .content .menu_left .content_produ .menu_produc { width:958px; overflow:hidden; border-bottom:#bebbb9 1px solid; border-left:#bebbb9 1px solid; border-right:#bebbb9 1px solid;}
.container .content .menu_left .content_produ .menu_produc .btn_left { float:left; width:19px; height:300px; background:url(../images/btn_left.png) 6px 151px no-repeat;}
.container .content .menu_left .content_produ .menu_produc ul.btn_center { float:left; width:900px; height:283px; padding:17px 10px 0;}
.container .content .menu_left .content_produ .menu_produc ul.btn_center li { float:left; width:160px; height:270px; margin:0 10px;}
.container .content .menu_left .content_produ .menu_produc ul.btn_center li .tit_li { width:160px; height:27px;overflow: hidden;}
.container .content .menu_left .content_produ .menu_produc ul.btn_center li .tit_li .btn_a { float:left; width:25px; height:25px; line-height:25px; text-align:center; border:#e3e3e6 1px solid; background:#154359; color:#fff;}
.container .content .menu_left .content_produ .menu_produc ul.btn_center li .tit_li .tit_pro { float:left; padding-left:5px; width:127px; height:27px; line-height:27px; font-weight:bold;font-size: 16px;}
.container .content .menu_left .content_produ .menu_produc ul.btn_center li .img_pro, .container .content .menu_left .content_produ .menu_produc ul.btn_center li .img_pro img { width:160px; height:160px;}
.container .content .menu_left .content_produ .menu_produc ul.btn_center li .img_pro { margin-bottom:10px;}
.container .content .menu_left .content_produ .menu_produc ul.btn_center li .tip_pro { padding:0 4px; width:152px; overflow:hidden;}
.container .content .menu_left .content_produ .menu_produc ul.btn_center li .tip_pro p {line-height:24px; color:#656666; font-size:14px; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; overflow:hidden; text-overflow:ellipsis;}
.container .content .menu_left .content_produ .menu_produc ul.btn_center li .tip_pro p span { line-height:24px; color:#124359; font-size:16px;}
.container .content .menu_left .content_produ .menu_produc .btn_right { float:left; width:19px; height:300px; background:url(../images/btn_right.png) 4px 151px no-repeat;}

.container .content .menu_left .content_produ .menu_produc .big_left { float:left; width:305px; height:325px; padding:10px; border-bottom:#bebbb9 1px solid;}
.container .content .menu_left .content_produ .menu_produc .big_left img { width:305px; height:325px;}

/*
.container .content .menu_left .content_produ .menu_produc .big_left { float:left; width:288px; height:300px; padding:24px 20px 21px 18px; text-align:center; border-bottom:#bebbb9 1px solid;}
.container .content .menu_left .content_produ .menu_produc .big_left .img_rec, .container .content .menu_left .content_produ .menu_produc .big_left .img_rec img { width:288px; height:210px; overflow:hidden;}
.container .content .menu_left .content_produ .menu_produc .big_left .img_rec { margin-bottom:13px; position:relative; overflow:hidden;}
.container .content .menu_left .content_produ .menu_produc .big_left .img_rec .ceng_rec { display:none;}
.container .content .menu_left .content_produ .menu_produc .big_left .img_rec:hover .ceng_rec { display:block; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(255,255,255,0.4);}
.container .content .menu_left .content_produ .menu_produc .big_left a { line-height:20px; color:#666766; font-size:14px;}
.container .content .menu_left .content_produ .menu_produc .big_left a:hover { text-decoration:underline;}
.container .content .menu_left .content_produ .menu_produc .big_left p { color:#d63a3b; font-size:16px; line-height:28px;}
*/
.container .content .menu_left .content_produ .menu_produc ul.sml_right { float:left; width:632px; height:346px;}
.container .content .menu_left .content_produ .menu_produc ul.sml_right li { float:left; width:157px; height:172px; border-bottom:#bebbb9 1px solid; border-left:#bebbb9 1px solid; text-align:center;}
.container .content .menu_left .content_produ .menu_produc ul.sml_right li .img_rec_sml, .container .content .menu_left .content_produ .menu_produc ul.sml_right li .img_rec_sml img { width:147px; height:107px; overflow:hidden;}
.container .content .menu_left .content_produ .menu_produc ul.sml_right li .img_rec_sml { padding:10px 5px 0;}
.container .content .menu_left .content_produ .menu_produc ul.sml_right li .tip_sml { width:147px; padding:6px 5px 0; overflow:hidden;}
.container .content .menu_left .content_produ .menu_produc ul.sml_right li .tip_sml a { line-height:18px; color:#666767; font-size:12px; font-family:"宋体";}
.container .content .menu_left .content_produ .menu_produc ul.sml_right li .tip_sml a:hover { color:#E71418;}

/*menu_right*/
.container .content .menu_right { float:left; width:240px; overflow:hidden;}




/* bg */
.bg_a { background:#621433!important;}
.bg_b { background:url(../images/bg_li_b.jpg) 33px 16px no-repeat!important;}
.bg_c { background:url(../images/bg_li_c.jpg) 33px 16px no-repeat!important;}
.bg_d { background:url(../images/bg_li_d.jpg) 28px 16px no-repeat!important;}
.bg_e { background:url(../images/bg_li_e.jpg) 28px 15px no-repeat!important;}
.bg_f { background:url(../images/bg_li_f.jpg) 28px 15px no-repeat!important;}
.bg_g { background:url(../images/bg_li_g.jpg) 28px 14px no-repeat!important;}
.bg_h { background:url(../images/bg_li_h.jpg) 28px 14px no-repeat!important;}


/* color */
.col_a { color:gray;}
.col_b { color:#621432;}
.col_c { color:#358acb;}
.col_d { color:#23b6b7;}
.col_e { color:#666;}
.col_f { color:#eb5e17;}
.col_g { color:#7e3a92;}
.col_h { color:#e8809b;}
